
  <div class="starBox">
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" toRate 1}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" toRate 2}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" toRate 3}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" toRate 4}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" toRate 5}}></i>
  </div>
