
  <div class="starBox">
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" question 1}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" question 2}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" question 3}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" question 4}}></i>
    <i value="" id="strange" class="fa fa-star star" aria-hidden="true" {{action "addRating" question 5}}></i>
  </div>
