<div class="row">
    <div class="well col-sm-6 col-sm-offset-3">
        <h3>Member Info:</h3>
        <div class="well row">
            <div class="col-sm-6">
                <img src="{{member.avatar}}" alt="" onerror='this.src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif"'  class="img-responsive"/>
            </div>
            <div class="col-sm-6">
                <h3>{{member.member.name}}</h3>
                <h5>{{member.member.screenName}}</h5>
                <p>{{member.member.email}}</p>
                <p>{{member.member.password}}</p>
            </div>
       </div>
       <button class="btn btn-success form-control"{{action 'showUpdateForm'}}>Update Information:</button>
    </div>
</div>
{{#if updateForm}}
<div class="row">
    <div class="well col-sm-6 col-sm-offset-3">
        <h3>Edit Your Information</h3>
        <label for="">Name:</label>
        {{input value=updateName id="updateName" placeholder=member.name class="form-control"}}
        <label for="">Email:</label>
        {{input value=updateEmail id="updateEmail" placeholder=member.email class="form-control"}}
        <label for="">Password:</label>
        {{input value=updatePassword id="updatePassword" placeholder=member.password class="form-control"}}
        <label for="">Avatar:</label>
        {{input value=updateAvatar id="updateAvatar" placeholder=member.avatar class="form-control"}}
        <label for="">Screen Name:</label>
        {{input value=updateScreenName id="updateScreenName" placeholder=member.screenName class="form-control"}}
        <button {{action "update"}} class="form-control btn btn-success">Save</button>
        <button class="btn btn-danger form-control"{{action "destroyMember" member}}>Delete Account</button>
    </div>
</div>
{{/if}}
