
<div class="well box">
  <div class="wellHeader">
    <h3>{{question.title}}   -title {{averageRating question.rating}}</h3>
  </div>
  <p class="wellFooter">What do you think of this article? {{add-rating toRate=question addRating="addRating"}}  </p>
  <div class="row postContent">
    <div class="col-sm-3 postContent-author">
      <div class="panel">
        <img class="img-responsive avatar" src="{{question.avatar}}" alt="" onerror='this.src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif"'/>
        <h3> {{question.author}}</h3>
      </div>
    </div>
    <div class="col-sm-9 postContent-content">
        <p>{{question.content}}</p>
      <p> Posted {{moment-from-now question.date}}</p>
    </div>
  </div>
  <button class="btn btn-danger delete"{{action "destroyQuestion" question}}>X</button>
</div>
