
<div class="">
  Average Rating
  {{averageRating model.question.rating}}
  {{add-rating toRate=model.question addRating="addRating"}}

</div>
<div class="well">
    <h1>{{model.question.title}}</h1>
    <p>by {{model.question.author}}</p>
    <p>on {{model.question.date}}</p>
    <p>{{model.question.content}}</p>
    {{#each model.question.comments as |comment|}}
    
        {{comment-tile comment=comment destroyComment="destroyComment" addCommentRating="addCommentRating"}}
    {{/each}}
</div>
{{new-comment question=model.question postComment="postComment"}}
