
<div class="well">
    <h1>{{model.question.title}}</h1>
    <p>by {{model.question.author}}</p>
    <p>on {{model.question.date}}</p>
    <p>{{model.question.content}}</p>
</div>
{{new-comment question=model.question postComment="postComment"}}
