
<div class="">


</div>
<div class="well box">
  <div class="wellHeader">
    <h3>{{model.question.title}}    {{averageRating model.question.rating}}</h3>
  </div>
  <p class="wellFooter">What do you think of this article? {{add-rating toRate=model.question addRating="addRating"}}  </p>

  <div class="row postContent">
    <div class="col-sm-3 postContent-author">
      <div class="panel">
        <img class="img-responsive avatar" src="{{model.question.avatar}}" alt="" onerror='this.src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif"'/>
        by  {{model.question.author}}
      </div>

    </div>
    <div class="col-sm-9 postContent-content">
        <p>{{model.question.content}}</p>
      <p> Posted on {{model.question.date}}</p>
    </div>
  </div>






</div>
{{#each model.question.comments as |comment|}}

    {{comment-tile comment=comment destroyComment="destroyComment" addCommentRating="addCommentRating"}}
{{/each}}
{{new-comment question=model.question postComment="postComment"}}
